USE [master]
GO

DROP DATABASE IF EXISTS RealEstateSystem;
GO

/****** Object:  Database [RealEstateSystem]    Script Date: 5/8/2019 12:51:08 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'RealEstateSystem')
BEGIN
CREATE DATABASE [RealEstateSystem]
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateSystem]
GO
/****** Object:  Schema [Account]    Script Date: 5/8/2019 12:51:08 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Account')
EXEC sys.sp_executesql N'CREATE SCHEMA [Account]'
GO
/****** Object:  Schema [Customer]    Script Date: 5/8/2019 12:51:08 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Customer')
EXEC sys.sp_executesql N'CREATE SCHEMA [Customer]'
GO
/****** Object:  Schema [Employee]    Script Date: 5/8/2019 12:51:08 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Employee')
EXEC sys.sp_executesql N'CREATE SCHEMA [Employee]'
GO
/****** Object:  Schema [Post]    Script Date: 5/8/2019 12:51:08 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Post')
EXEC sys.sp_executesql N'CREATE SCHEMA [Post]'
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_diagramobjects]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N''dbo''
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N''dbo.sp_upgraddiagrams''),
			@id_sysdiagrams = object_id(N''dbo.sysdiagrams''),
			@id_helpdiagrams = object_id(N''dbo.sp_helpdiagrams''),
			@id_helpdiagramdefinition = object_id(N''dbo.sp_helpdiagramdefinition''),
			@id_creatediagram = object_id(N''dbo.sp_creatediagram''),
			@id_renamediagram = object_id(N''dbo.sp_renamediagram''),
			@id_alterdiagram = object_id(N''dbo.sp_alterdiagram''), 
			@id_dropdiagram = object_id(N''dbo.sp_dropdiagram'')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	' 
END
GO
/****** Object:  Table [Customer].[Block]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Customer].[Block]') AND type in (N'U'))
BEGIN
CREATE TABLE [Customer].[Block](
	[Cus_ID] [int] NOT NULL,
	[Block_ID] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[BlockDate] [datetime] NULL,
	[UnBlockDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Block_2] PRIMARY KEY CLUSTERED 
(
	[Block_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Customer].[Customer]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Customer].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [Customer].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Account_ID] [nvarchar](450) NOT NULL,
	[Avatar_URL] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Customer].[Interested_Post]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Customer].[Interested_Post]') AND type in (N'U'))
BEGIN
CREATE TABLE [Customer].[Interested_Post](
	[Customer_ID] [int] NOT NULL,
	[Post_ID] [varchar](300) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Interested_Post] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Post_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Admin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Admin](
	[Admin_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NULL,
	[PasswordHash] [nvarchar](200) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Dashboard]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dashboard]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Dashboard](
	[Id] [varchar](10) NOT NULL,
	[TotalGuest] [int] NULL,
	[TotalFBClick] [int] NULL,
	[TotalInsClick] [int] NULL,
	[TotalTwiClick] [int] NULL,
	[TotalLinClick] [int] NULL,
	[TotalPinClick] [int] NULL,
 CONSTRAINT [PK_Dashboard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Information]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Information]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Information](
	[Info_Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](300) NULL,
	[Address] [nvarchar](300) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[WorkingTime] [nvarchar](100) NULL,
	[Facebook] [varchar](100) NULL,
	[Twitter] [varchar](100) NULL,
	[Instagram] [varchar](100) NULL,
	[Pinterest] [varchar](100) NULL,
	[Linkedin] [varchar](100) NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[Info_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menu](
	[Menu_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NULL,
	[Action] [varchar](20) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SubMenu]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubMenu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SubMenu](
	[Sub_Id] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Id] [int] NULL,
	[Title] [nvarchar](20) NULL,
	[Action] [nvarchar](20) NULL,
 CONSTRAINT [PK_SubMenu] PRIMARY KEY CLUSTERED 
(
	[Sub_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sysdiagrams]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Detail]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Detail]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Detail](
	[Detail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Floor] [int] NULL,
	[Bedroom] [int] NULL,
	[Bathroom] [int] NULL,
	[Direction_ID] [int] NULL,
	[Alley] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Detail] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Direction]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Direction]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Direction](
	[Direction_ID] [int] IDENTITY(1,1) NOT NULL,
	[Direction_Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[Direction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Post]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Post]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Post](
	[Post_ID] [varchar](300) NOT NULL,
	[PostType] [int] NOT NULL,
	[PostTime] [datetime] NULL,
	[Tittle] [nvarchar](200) NOT NULL,
	[Price] [bigint] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Area] [decimal](18, 2) NOT NULL,
	[Project] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[RealEstaleType] [int] NOT NULL,
	[Detail] [int] NULL,
	[Author_ID] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Post_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Post_Image]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Post_Image]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Post_Image](
	[Image_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_ID] [varchar](300) NULL,
	[url] [varchar](100) NULL,
	[AddedDate] [datetime] NULL,
 CONSTRAINT [PK_Post_Image] PRIMARY KEY CLUSTERED 
(
	[Image_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Post_Report]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Post_Report]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Post_Report](
	[Post_Report_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_ID] [varchar](300) NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[Report_Time] [datetime] NULL,
	[Reporter] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Post_Report] PRIMARY KEY CLUSTERED 
(
	[Post_Report_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Post_Status]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Post_Status]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Post_Status](
	[Post_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Post_ID] [varchar](300) NOT NULL,
	[Status] [int] NOT NULL,
	[CensorshipTime] [datetime] NULL,
	[Reason] [nvarchar](500) NULL,
 CONSTRAINT [PK_Post_Status] PRIMARY KEY CLUSTERED 
(
	[Post_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Project]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Project]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Project](
	[Project_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Protential] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Project_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Project_Image]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Project_Image]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Project_Image](
	[Img_ID] [int] IDENTITY(1,1) NOT NULL,
	[Project_ID] [int] NULL,
	[url] [nvarchar](50) NULL,
 CONSTRAINT [PK_Project_Image] PRIMARY KEY CLUSTERED 
(
	[Img_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[RealEstateType]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[RealEstateType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[RealEstateType](
	[RealEstateType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_RealEstaleType] PRIMARY KEY CLUSTERED 
(
	[RealEstateType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Status]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Status]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Status](
	[Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status_Type] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Post].[Type]    Script Date: 5/8/2019 12:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Post].[Type]') AND type in (N'U'))
BEGIN
CREATE TABLE [Post].[Type](
	[PostType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PostType] PRIMARY KEY CLUSTERED 
(
	[PostType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Customer].[Block] ON 

INSERT [Customer].[Block] ([Cus_ID], [Block_ID], [Reason], [BlockDate], [UnBlockDate], [ModifiedDate]) VALUES (1, 20, N'Employee 1 was blocked', CAST(N'2019-03-21T15:51:42.543' AS DateTime), CAST(N'2018-12-10T00:51:41.680' AS DateTime), CAST(N'2019-03-21T15:51:42.543' AS DateTime))
INSERT [Customer].[Block] ([Cus_ID], [Block_ID], [Reason], [BlockDate], [UnBlockDate], [ModifiedDate]) VALUES (3, 22, N'I like it', CAST(N'2019-03-21T15:51:42.560' AS DateTime), NULL, CAST(N'2019-05-07T22:38:08.553' AS DateTime))
INSERT [Customer].[Block] ([Cus_ID], [Block_ID], [Reason], [BlockDate], [UnBlockDate], [ModifiedDate]) VALUES (14, 29, N'Blocked by Admin', CAST(N'2019-05-07T13:28:18.600' AS DateTime), CAST(N'2019-05-07T13:29:45.753' AS DateTime), CAST(N'2019-05-07T13:28:25.493' AS DateTime))
SET IDENTITY_INSERT [Customer].[Block] OFF
SET IDENTITY_INSERT [Customer].[Customer] ON 

INSERT [Customer].[Customer] ([Customer_ID], [Firstname], [LastName], [Email], [Address], [PhoneNumber], [Account_ID], [Avatar_URL], [ModifiedDate], [CreatedDate]) VALUES (1, N'Thủy', N'Đào Xuân', N'thuydx.9598@gmail.com', N'101, Lê Đại Hành, Phường 11, Quận 5, TP. Hồ Chí Minh', N'0979 31 9598', N'd84a55ca-bdd1-45c3-bbd8-742b509ed896', N'xuanthuy-572019103651PM.jpg', CAST(N'2019-05-07T22:35:31.210' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime))
INSERT [Customer].[Customer] ([Customer_ID], [Firstname], [LastName], [Email], [Address], [PhoneNumber], [Account_ID], [Avatar_URL], [ModifiedDate], [CreatedDate]) VALUES (2, N'Minh', N'Ngô Công', N'MinhNC@gmail.com', N'54, Nguyễn Công Trứ, Quận 2, Hồ Chí Minh', N'0123123123', N'eaebb98f-81a7-45b9-801f-2194a5de5a31', N'c_2.jpg', CAST(N'2019-05-07T18:20:44.260' AS DateTime), CAST(N'2019-05-03T00:00:00.000' AS DateTime))
INSERT [Customer].[Customer] ([Customer_ID], [Firstname], [LastName], [Email], [Address], [PhoneNumber], [Account_ID], [Avatar_URL], [ModifiedDate], [CreatedDate]) VALUES (3, N'An', N'Đinh Thị', N'AnDT@gmail.com', N'11, Lê Lợi, Phường 8, Quận 7, Hồ Chí Minh', N'0234234023', N'781214f2-d165-4dd6-abcf-82b42beff763', N'c_3.jpg', CAST(N'2019-05-07T18:20:17.270' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Customer].[Customer] OFF
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'2.2.4-servicing-10062')
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Admin_Id], [UserName], [PasswordHash]) VALUES (1, N'admin@gmail.com', N'$2a$10$AzIBs68xPZnjD8PF9oAyy.mEUA5tFfqOvLgI88yi.p6G1zg1Oib/q')
SET IDENTITY_INSERT [dbo].[Admin] OFF
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'a6de1c9b-b8b2-459b-9a6a-2b2d704217bb', N'[AspNetUserStore]', N'AuthenticatorKey', N'PEGSTEOBRLIHDNKMHHPHH7MVSE5Y3WPI')
INSERT [dbo].[Dashboard] ([Id], [TotalGuest], [TotalFBClick], [TotalInsClick], [TotalTwiClick], [TotalLinClick], [TotalPinClick]) VALUES (N'ute-res-xt', 120, 10, 8, 12, 10, 6)
SET IDENTITY_INSERT [dbo].[Information] ON 

INSERT [dbo].[Information] ([Info_Id], [Email], [Address], [PhoneNumber], [WorkingTime], [Facebook], [Twitter], [Instagram], [Pinterest], [Linkedin]) VALUES (1, N'hau36631@donga.edu.vn', N'01 Võ Văn Ngân, Hòa Bình, Đà Nẵng', N'(+84) 327 648 380', N'Thứ 2 - Thứ 6, 8 AM - 5 PM', N'https://www.facebook.com/vanhau.bui.100', N'https://twitter.com/', N'https://www.instagram.com/', N'https://www.pinterest.com/', N'https://www.linkedin.com')
INSERT [dbo].[Information] ([Info_Id], [Email], [Address], [PhoneNumber], [WorkingTime], [Facebook], [Twitter], [Instagram], [Pinterest], [Linkedin]) VALUES (2, N'hau36631@donga.edu.vn', N'01 Võ Văn Ngân, Hòa Bình, Đà Nẵng', N'ád', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Information] ([Info_Id], [Email], [Address], [PhoneNumber], [WorkingTime], [Facebook], [Twitter], [Instagram], [Pinterest], [Linkedin]) VALUES (3, N'hau36631@donga.edu.vn', N'01 Võ Văn Ngân, Hòa Bình, Đà Nẵng', N'(+84) 327 648 380', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Information] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Menu_Id], [Title], [Action]) VALUES (1, N'TRANG CHỦ', N'/')
INSERT [dbo].[Menu] ([Menu_Id], [Title], [Action]) VALUES (2, N'GIỚI THIỆU', N'/gioithieu')
INSERT [dbo].[Menu] ([Menu_Id], [Title], [Action]) VALUES (3, N'CẦN MUA', N'/canmua')
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[SubMenu] ON 

INSERT [dbo].[SubMenu] ([Sub_Id], [Menu_Id], [Title], [Action]) VALUES (1, 3, N'Nhà', N'?id=1')
INSERT [dbo].[SubMenu] ([Sub_Id], [Menu_Id], [Title], [Action]) VALUES (2, 3, N'Đất', N'?id=2')
INSERT [dbo].[SubMenu] ([Sub_Id], [Menu_Id], [Title], [Action]) VALUES (3, 3, N'Căn hộ', N'?id=3')
SET IDENTITY_INSERT [dbo].[SubMenu] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET IDENTITY_INSERT [Post].[Detail] ON 

INSERT [Post].[Detail] ([Detail_ID], [Floor], [Bedroom], [Bathroom], [Direction_ID], [Alley], [ModifiedDate]) VALUES (1, 2, 4, 3, 1, 1, CAST(N'2019-03-21T15:50:22.717' AS DateTime))
INSERT [Post].[Detail] ([Detail_ID], [Floor], [Bedroom], [Bathroom], [Direction_ID], [Alley], [ModifiedDate]) VALUES (2, 3, 6, 4, 2, 1, CAST(N'2019-03-21T15:50:22.717' AS DateTime))
INSERT [Post].[Detail] ([Detail_ID], [Floor], [Bedroom], [Bathroom], [Direction_ID], [Alley], [ModifiedDate]) VALUES (3, 4, 4, 3, 2, 0, CAST(N'2019-03-21T15:50:22.730' AS DateTime))
SET IDENTITY_INSERT [Post].[Detail] OFF
SET IDENTITY_INSERT [Post].[Direction] ON 

INSERT [Post].[Direction] ([Direction_ID], [Direction_Name]) VALUES (1, N'Đông')
INSERT [Post].[Direction] ([Direction_ID], [Direction_Name]) VALUES (2, N'Tây')
INSERT [Post].[Direction] ([Direction_ID], [Direction_Name]) VALUES (3, N'Nam')
SET IDENTITY_INSERT [Post].[Direction] OFF
INSERT [Post].[Post] ([Post_ID], [PostType], [PostTime], [Tittle], [Price], [Location], [Area], [Project], [Description], [RealEstaleType], [Detail], [Author_ID], [Status]) VALUES (N'ban-dat-da-nang-20181117161238447', 1, CAST(N'2018-11-17T16:12:38.447' AS DateTime), N'Bán đất Đà Nẵng', 350000000, N'89 Đinh Thanh Bình, Long Thành, Hưng Hòa, Hưng Yên', CAST(100.00 AS Decimal(18, 2)), 4, N'Mô tả', 2, NULL, 2, 2)
INSERT [Post].[Post] ([Post_ID], [PostType], [PostTime], [Tittle], [Price], [Location], [Area], [Project], [Description], [RealEstaleType], [Detail], [Author_ID], [Status]) VALUES (N'ban-dat-tho-cu-20181117161625450', 1, CAST(N'2018-11-17T16:16:25.450' AS DateTime), N'Bán đất thổ cư', 310000000, N'111 Hòa Trung, Hòa Trung, Khánh Hóa', CAST(150.00 AS Decimal(18, 2)), NULL, N'Mô tả', 2, NULL, 4, 2)
INSERT [Post].[Post] ([Post_ID], [PostType], [PostTime], [Tittle], [Price], [Location], [Area], [Project], [Description], [RealEstaleType], [Detail], [Author_ID], [Status]) VALUES (N'ban-nha-ha-huy-giap-20181213160019800', 2, CAST(N'2018-12-13T16:00:19.800' AS DateTime), N'Cho thuê nhà Hà Huy Giáp', 10000000, N'111 Huỳnh Thúc Kháng, Quang Trung, Nghệ An', CAST(60.00 AS Decimal(18, 2)), 2, N'Mô tả', 1, 1, 3, 2)
SET IDENTITY_INSERT [Post].[Post_Image] ON 

INSERT [Post].[Post_Image] ([Image_ID], [Post_ID], [url], [AddedDate]) VALUES (1, N'dat-xay-dung-khong-quy-hoach-20181213154623873', N'1.2.jpg', CAST(N'2019-05-02T17:08:42.713' AS DateTime))
INSERT [Post].[Post_Image] ([Image_ID], [Post_ID], [url], [AddedDate]) VALUES (2, N'dat-xay-dung-khong-quy-hoach-20181213154623873', N'1.2.jpg', CAST(N'2018-11-24T13:49:03.750' AS DateTime))
INSERT [Post].[Post_Image] ([Image_ID], [Post_ID], [url], [AddedDate]) VALUES (3, N'dat-xay-dung-khong-quy-hoach-20181213154623873', N'1.3.jpg', CAST(N'2018-11-24T13:49:06.793' AS DateTime))
SET IDENTITY_INSERT [Post].[Post_Image] OFF
SET IDENTITY_INSERT [Post].[Post_Status] ON 

INSERT [Post].[Post_Status] ([Post_Status_ID], [Post_ID], [Status], [CensorshipTime], [Reason]) VALUES (1, N'dat-xay-dung-khong-quy-hoach-20181213154623873', 1, CAST(N'2019-05-02T17:12:41.713' AS DateTime), N'new POST')
INSERT [Post].[Post_Status] ([Post_Status_ID], [Post_ID], [Status], [CensorshipTime], [Reason]) VALUES (2, N'ban-nha-ha-huy-giap-20181213160019800', 1, CAST(N'2019-05-02T17:19:44.557' AS DateTime), N'new POST')
INSERT [Post].[Post_Status] ([Post_Status_ID], [Post_ID], [Status], [CensorshipTime], [Reason]) VALUES (3, N'ban-nha-sieu-dep-20181117160557010', 1, CAST(N'2019-05-02T17:20:34.597' AS DateTime), N'new POST')
SET IDENTITY_INSERT [Post].[Post_Status] OFF
SET IDENTITY_INSERT [Post].[Project] ON 

SET IDENTITY_INSERT [Post].[Project] OFF
SET IDENTITY_INSERT [Post].[Project_Image] ON 

INSERT [Post].[Project_Image] ([Img_ID], [Project_ID], [url]) VALUES (1, 1, N'4.1.jpg')
INSERT [Post].[Project_Image] ([Img_ID], [Project_ID], [url]) VALUES (2, 2, N'4.2.jpg')
INSERT [Post].[Project_Image] ([Img_ID], [Project_ID], [url]) VALUES (3, 3, N'5.2.jpg')
SET IDENTITY_INSERT [Post].[Project_Image] OFF
SET IDENTITY_INSERT [Post].[RealEstateType] ON 

INSERT [Post].[RealEstateType] ([RealEstateType_ID], [Name], [ModifiedDate]) VALUES (1, N'Nhà', CAST(N'2018-11-17T15:10:51.377' AS DateTime))
INSERT [Post].[RealEstateType] ([RealEstateType_ID], [Name], [ModifiedDate]) VALUES (2, N'Đất', CAST(N'2018-11-17T15:10:54.273' AS DateTime))
INSERT [Post].[RealEstateType] ([RealEstateType_ID], [Name], [ModifiedDate]) VALUES (3, N'Căn hộ', CAST(N'2018-11-17T15:10:58.167' AS DateTime))
SET IDENTITY_INSERT [Post].[RealEstateType] OFF
SET IDENTITY_INSERT [Post].[Status] ON 

INSERT [Post].[Status] ([Status_ID], [Status_Type], [ModifiedDate]) VALUES (1, N'Chờ duyệt', CAST(N'2019-05-06T04:21:41.317' AS DateTime))
INSERT [Post].[Status] ([Status_ID], [Status_Type], [ModifiedDate]) VALUES (2, N'Đã duyệt', CAST(N'2019-05-06T04:21:46.703' AS DateTime))
INSERT [Post].[Status] ([Status_ID], [Status_Type], [ModifiedDate]) VALUES (3, N'Đã ẩn', CAST(N'2019-05-06T08:20:52.087' AS DateTime))
SET IDENTITY_INSERT [Post].[Status] OFF
SET IDENTITY_INSERT [Post].[Type] ON 

INSERT [Post].[Type] ([PostType_ID], [Name]) VALUES (1, N'Cần bán')
INSERT [Post].[Type] ([PostType_ID], [Name]) VALUES (2, N'Cho thuê')
SET IDENTITY_INSERT [Post].[Type] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND name = N'IX_AspNetRoleClaims_RoleId')
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND name = N'RoleNameIndex')
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND name = N'IX_AspNetUserClaims_UserId')
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND name = N'IX_AspNetUserLogins_UserId')
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND name = N'IX_AspNetUserRoles_RoleId')
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND name = N'EmailIndex')
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND name = N'UserNameIndex')
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 5/8/2019 12:51:10 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[sysdiagrams]') AND name = N'UK_principal_name')
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Block_Customer]') AND parent_object_id = OBJECT_ID(N'[Customer].[Block]'))
ALTER TABLE [Customer].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_Customer] FOREIGN KEY([Cus_ID])
REFERENCES [Customer].[Customer] ([Customer_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Block_Customer]') AND parent_object_id = OBJECT_ID(N'[Customer].[Block]'))
ALTER TABLE [Customer].[Block] CHECK CONSTRAINT [FK_Block_Customer]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Customer_AspNetUsers]') AND parent_object_id = OBJECT_ID(N'[Customer].[Customer]'))
ALTER TABLE [Customer].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_AspNetUsers] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Customer_AspNetUsers]') AND parent_object_id = OBJECT_ID(N'[Customer].[Customer]'))
ALTER TABLE [Customer].[Customer] CHECK CONSTRAINT [FK_Customer_AspNetUsers]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Interested_Post_Customer]') AND parent_object_id = OBJECT_ID(N'[Customer].[Interested_Post]'))
ALTER TABLE [Customer].[Interested_Post]  WITH CHECK ADD  CONSTRAINT [FK_Interested_Post_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [Customer].[Customer] ([Customer_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Interested_Post_Customer]') AND parent_object_id = OBJECT_ID(N'[Customer].[Interested_Post]'))
ALTER TABLE [Customer].[Interested_Post] CHECK CONSTRAINT [FK_Interested_Post_Customer]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Interested_Post_Post]') AND parent_object_id = OBJECT_ID(N'[Customer].[Interested_Post]'))
ALTER TABLE [Customer].[Interested_Post]  WITH CHECK ADD  CONSTRAINT [FK_Interested_Post_Post] FOREIGN KEY([Post_ID])
REFERENCES [Post].[Post] ([Post_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Customer].[FK_Interested_Post_Post]') AND parent_object_id = OBJECT_ID(N'[Customer].[Interested_Post]'))
ALTER TABLE [Customer].[Interested_Post] CHECK CONSTRAINT [FK_Interested_Post_Post]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetRoleClaims_AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]'))
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetRoleClaims_AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]'))
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserClaims_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]'))
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserClaims_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]'))
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserLogins_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]'))
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserLogins_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]'))
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserRoles_AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserRoles_AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserRoles_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserRoles_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserTokens_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]'))
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AspNetUserTokens_AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]'))
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SubMenu_Menu]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubMenu]'))
ALTER TABLE [dbo].[SubMenu]  WITH CHECK ADD  CONSTRAINT [FK_SubMenu_Menu] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menu] ([Menu_Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SubMenu_Menu]') AND parent_object_id = OBJECT_ID(N'[dbo].[SubMenu]'))
ALTER TABLE [dbo].[SubMenu] CHECK CONSTRAINT [FK_SubMenu_Menu]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Detail_Direction]') AND parent_object_id = OBJECT_ID(N'[Post].[Detail]'))
ALTER TABLE [Post].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Direction] FOREIGN KEY([Direction_ID])
REFERENCES [Post].[Direction] ([Direction_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Detail_Direction]') AND parent_object_id = OBJECT_ID(N'[Post].[Detail]'))
ALTER TABLE [Post].[Detail] CHECK CONSTRAINT [FK_Detail_Direction]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Customer]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Customer] FOREIGN KEY([Author_ID])
REFERENCES [Customer].[Customer] ([Customer_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Customer]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post] CHECK CONSTRAINT [FK_Post_Customer]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Detail]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Detail] FOREIGN KEY([Detail])
REFERENCES [Post].[Detail] ([Detail_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Detail]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post] CHECK CONSTRAINT [FK_Post_Detail]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_PostType]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostType] FOREIGN KEY([PostType])
REFERENCES [Post].[Type] ([PostType_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_PostType]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post] CHECK CONSTRAINT [FK_Post_PostType]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Project]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Project] FOREIGN KEY([Project])
REFERENCES [Post].[Project] ([Project_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Project]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post] CHECK CONSTRAINT [FK_Post_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_RealEstaleType]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_RealEstaleType] FOREIGN KEY([RealEstaleType])
REFERENCES [Post].[RealEstateType] ([RealEstateType_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_RealEstaleType]') AND parent_object_id = OBJECT_ID(N'[Post].[Post]'))
ALTER TABLE [Post].[Post] CHECK CONSTRAINT [FK_Post_RealEstaleType]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Image_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Image]'))
ALTER TABLE [Post].[Post_Image]  WITH CHECK ADD  CONSTRAINT [FK_Post_Image_Post] FOREIGN KEY([Post_ID])
REFERENCES [Post].[Post] ([Post_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Image_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Image]'))
ALTER TABLE [Post].[Post_Image] CHECK CONSTRAINT [FK_Post_Image_Post]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Report_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Report]'))
ALTER TABLE [Post].[Post_Report]  WITH CHECK ADD  CONSTRAINT [FK_Post_Report_Post] FOREIGN KEY([Post_ID])
REFERENCES [Post].[Post] ([Post_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Report_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Report]'))
ALTER TABLE [Post].[Post_Report] CHECK CONSTRAINT [FK_Post_Report_Post]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Status_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Status]'))
ALTER TABLE [Post].[Post_Status]  WITH CHECK ADD  CONSTRAINT [FK_Post_Status_Post] FOREIGN KEY([Post_ID])
REFERENCES [Post].[Post] ([Post_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Status_Post]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Status]'))
ALTER TABLE [Post].[Post_Status] CHECK CONSTRAINT [FK_Post_Status_Post]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Status_Status]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Status]'))
ALTER TABLE [Post].[Post_Status]  WITH CHECK ADD  CONSTRAINT [FK_Post_Status_Status] FOREIGN KEY([Status])
REFERENCES [Post].[Status] ([Status_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Post_Status_Status]') AND parent_object_id = OBJECT_ID(N'[Post].[Post_Status]'))
ALTER TABLE [Post].[Post_Status] CHECK CONSTRAINT [FK_Post_Status_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Project_Image_Project]') AND parent_object_id = OBJECT_ID(N'[Post].[Project_Image]'))
ALTER TABLE [Post].[Project_Image]  WITH CHECK ADD  CONSTRAINT [FK_Project_Image_Project] FOREIGN KEY([Project_ID])
REFERENCES [Post].[Project] ([Project_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[Post].[FK_Project_Image_Project]') AND parent_object_id = OBJECT_ID(N'[Post].[Project_Image]'))
ALTER TABLE [Post].[Project_Image] CHECK CONSTRAINT [FK_Project_Image_Project]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_alterdiagram]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_alterdiagram] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_creatediagram]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_creatediagram] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_dropdiagram]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_dropdiagram] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_helpdiagramdefinition]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_helpdiagrams]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_helpdiagrams] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_renamediagram]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_renamediagram] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_upgraddiagrams]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_upgraddiagrams] AS' 
END
GO

	ALTER PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
/****** Object:  Trigger [Customer].[tgr_Customer.Block_InsertUpdate]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Customer].[tgr_Customer.Block_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Xuan Thuy
-- Create date: 17/11/2018
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [Customer].[tgr_Customer.Block_InsertUpdate] ON  [Customer].[Block]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @block_id int;
	DECLARE @cus_id int;

	SELECT @block_id = i.Block_ID FROM inserted i;
	SELECT @cus_id = i.Cus_ID FROM inserted i;

	IF NOT EXISTS(SELECT * FROM DELETED)
    BEGIN  -- Insert
        UPDATE Customer.Block
		SET ModifiedDate = DATEADD(HOUR, 7, GETDATE()), BlockDate = DATEADD(HOUR, 7, GETDATE())
		WHERE Block_ID = @block_id
    END
	ELSE  -- Update
	BEGIN
		UPDATE Customer.Block
		SET ModifiedDate = DATEADD(HOUR, 7, GETDATE())
		WHERE Block_ID = @block_id
	END

END
' 
GO
ALTER TABLE [Customer].[Block] ENABLE TRIGGER [tgr_Customer.Block_InsertUpdate]
GO
/****** Object:  Trigger [Customer].[tgr_Customer.Customer_InsertUpdate]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Customer].[tgr_Customer.Customer_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Xuan Thuy
-- Create date: 17/11/2018
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [Customer].[tgr_Customer.Customer_InsertUpdate] ON  [Customer].[Customer]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @cus_id int;

	SELECT @cus_id = i.Customer_ID FROM inserted i;

        UPDATE Customer.Customer
		SET ModifiedDate = DATEADD(HOUR, 7, GETDATE())
		WHERE Customer_ID = @cus_id

END
' 
GO
ALTER TABLE [Customer].[Customer] ENABLE TRIGGER [tgr_Customer.Customer_InsertUpdate]
GO
/****** Object:  Trigger [Customer].[tgr_Customer.Interested_Post_InsertUpdate]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Customer].[tgr_Customer.Interested_Post_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
CREATE TRIGGER [Customer].[tgr_Customer.Interested_Post_InsertUpdate] ON  [Customer].[Interested_Post]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @cus_id int;
	DECLARE @post_id int;

	SELECT @cus_id = i.Customer_ID FROM inserted i;
	SELECT @post_id = i.Post_ID FROM inserted i;


        UPDATE Customer.Interested_Post
		SET ModifiedDate = GETDATE()
		WHERE Customer_ID = @cus_id AND Post_ID = @post_id

END
' 
GO
ALTER TABLE [Customer].[Interested_Post] ENABLE TRIGGER [tgr_Customer.Interested_Post_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.Detail_InsertUpdate]    Script Date: 5/8/2019 12:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Detail_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Xuan Thuy
-- Create date: 17/11/2018
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [Post].[tgr_Post.Detail_InsertUpdate] ON  [Post].[Detail]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @det_id int;

	SELECT @det_id = i.Detail_ID FROM inserted i;

			UPDATE Post.Detail
			SET ModifiedDate = GETDATE()
			WHERE Detail_ID = @det_id


END
' 
GO
ALTER TABLE [Post].[Detail] ENABLE TRIGGER [tgr_Post.Detail_InsertUpdate]
GO
/****** Object:  Trigger [Post].[setPostTime_Status]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[setPostTime_Status]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [Post].[setPostTime_Status] ON  [Post].[Post]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @post_id varchar(300);

	SELECT @post_id = i.Post_ID FROM inserted i;

	UPDATE Post.Post 
	SET Status = 1
	WHERE Post_ID = @post_id

	IF NOT EXISTS(SELECT * FROM DELETED)
		BEGIN -- insert
			INSERT INTO Post.Post_Status (Post_ID, Status, CensorshipTime, Reason)
			VALUES (@post_id, 1, GETDATE(), ''new POST'')
		END

END
' 
GO
ALTER TABLE [Post].[Post] ENABLE TRIGGER [setPostTime_Status]
GO
/****** Object:  Trigger [Post].[tgr_Post.Post_Image_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Post_Image_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [Post].[tgr_Post.Post_Image_InsertUpdate] ON  [Post].[Post_Image]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @img_id int;
	--DECLARE @post_id int

	SELECT @img_id = i.Image_ID FROM inserted i;
	--SELECT @post_id = i.Post_ID FROM inserted i;


        UPDATE Post.Post_Image
		SET AddedDate = GETDATE()
		WHERE Image_ID = @img_id --AND Post_ID = @post_id
END
' 
GO
ALTER TABLE [Post].[Post_Image] ENABLE TRIGGER [tgr_Post.Post_Image_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.Post_Report_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Post_Report_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [Post].[tgr_Post.Post_Report_InsertUpdate] ON  [Post].[Post_Report]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @rep_id int;
	--DECLARE @post_id int

	SELECT @rep_id = i.Post_Report_ID FROM inserted i;


        UPDATE Post.Post_Report
		SET Report_Time = GETDATE(), Status = 0
		WHERE Post_Report_ID = @rep_id
END
' 
GO
ALTER TABLE [Post].[Post_Report] ENABLE TRIGGER [tgr_Post.Post_Report_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.Post_Status_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Post_Status_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [Post].[tgr_Post.Post_Status_InsertUpdate] ON  [Post].[Post_Status]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @sta_id int;

	SELECT @sta_id = i.Post_Status_ID FROM inserted i;


    UPDATE Post.Post_Status
	SET CensorshipTime = GETDATE()
	WHERE Post_Status_ID = @sta_id

	DECLARE @post_id varchar(300)
	DECLARE @stt int

	SELECT @post_id = i.Post_ID, @stt = i.Status FROM inserted i;

	UPDATE Post.Post
	SET Status = @stt
	WHERE Post_ID = @post_id
END
' 
GO
ALTER TABLE [Post].[Post_Status] ENABLE TRIGGER [tgr_Post.Post_Status_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.Project_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Project_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
CREATE TRIGGER [Post].[tgr_Post.Project_InsertUpdate] ON  [Post].[Project]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @id int;

	SELECT @id = i.Project_ID FROM inserted i;


        UPDATE Post.Project
		SET ModifiedDate = GETDATE()
		WHERE Project_ID = @id

END
' 
GO
ALTER TABLE [Post].[Project] ENABLE TRIGGER [tgr_Post.Project_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.RealEstateType_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.RealEstateType_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
CREATE TRIGGER [Post].[tgr_Post.RealEstateType_InsertUpdate] ON  [Post].[RealEstateType]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @id int;

	SELECT @id = i.RealEstateType_ID FROM inserted i;


        UPDATE Post.RealEstateType
		SET ModifiedDate = GETDATE()
		WHERE RealEstateType_ID = @id

END
' 
GO
ALTER TABLE [Post].[RealEstateType] ENABLE TRIGGER [tgr_Post.RealEstateType_InsertUpdate]
GO
/****** Object:  Trigger [Post].[tgr_Post.Status_InsertUpdate]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[Post].[tgr_Post.Status_InsertUpdate]'))
EXEC dbo.sp_executesql @statement = N'-- =============================================
CREATE TRIGGER [Post].[tgr_Post.Status_InsertUpdate] ON  [Post].[Status]
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @stt_id int;

	SELECT @stt_id = i.Status_ID FROM inserted i;


        UPDATE Post.Status
		SET ModifiedDate = GETDATE()
		WHERE Status_ID = @stt_id

END
' 
GO
ALTER TABLE [Post].[Status] ENABLE TRIGGER [tgr_Post.Status_InsertUpdate]
GO
/****** Object:  DdlTrigger [ddlDatabaseTriggerLog]    Script Date: 5/8/2019 12:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE parent_class_desc = 'DATABASE' AND name = N'ddlDatabaseTriggerLog')
EXECUTE dbo.sp_executesql N'
CREATE TRIGGER [ddlDatabaseTriggerLog] ON DATABASE 
FOR DDL_DATABASE_LEVEL_EVENTS AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @data XML;
    DECLARE @schema sysname;
    DECLARE @object sysname;
    DECLARE @eventType sysname;

    SET @data = EVENTDATA();
    SET @eventType = @data.value(''(/EVENT_INSTANCE/EventType)[1]'', ''sysname'');
    SET @schema = @data.value(''(/EVENT_INSTANCE/SchemaName)[1]'', ''sysname'');
    SET @object = @data.value(''(/EVENT_INSTANCE/ObjectName)[1]'', ''sysname'') 

    IF @object IS NOT NULL
        PRINT ''  '' + @eventType + '' - '' + @schema + ''.'' + @object;
    ELSE
        PRINT ''  '' + @eventType + '' - '' + @schema;

    IF @eventType IS NULL
        PRINT CONVERT(nvarchar(max), @data);

    
END;
'
GO
ENABLE TRIGGER [ddlDatabaseTriggerLog] ON DATABASE
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'microsoft_database_tools_support' , N'SCHEMA',N'dbo', N'TABLE',N'sysdiagrams', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
USE [master]
GO
